.input-label {
  display: block;
  position: relative;
  max-width: 180px;
  border: 1px solid #cdd7d6;
  input {
    border: none;
    outline: none;
  }
  span {
    position: absolute;
    right: 10px;
  }
}