@import '../common.scss';

.list {
  text-align: left;
  width: 250px;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: visible;
  margin-top: 8px;
  outline: none;

  &__item {
    padding: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: none;

    &:hover, &-hover {
      background-color: #d0e2ec;
    }

    &-active {
      background-color: #6ca1c9;
      pointer-events: none;
    }
  }
}